*{
    margin:0;
    padding:0;
}

main{
    background-image: url(/images/Product-Confirmation/admin-confirm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 700px;
}
button{
    color: black;
    background-color:hsla(59, 88%, 60%, 0.7) ;
    border-radius: 10px;
    border: 3px solid hsla(59, 88%, 60%, 0.7);
    font-size: 30px;
    margin-top: 40px;
    cursor: pointer;

}
.articlesend{
    margin-left: 20px;
    padding: 10px;
}

.confirm{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: black;
    background-color: aliceblue;
    padding: 10px;
    font-size: 40px;
    font-family: 'Vidaloka', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 2000px;

}

.buttonscontainer{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    
    
}

.new-article-button{
    margin-right: 300px;
    padding: 10px 40px;
}

.articlebutton{
    margin-left: 300px;
    padding: 10px 60px;
}
