* {
    margin: 0;
    padding:0;
    border: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*form {
    padding: 30px;
    width: 500px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    background-color: black;

}*/

h2{
    color: yellow;
    margin: 0px 0px 20px 0px;
    background-color: black;
}

h3 {

    color: black;
    margin: 0px 0px 5px 0px;
    padding: 10px;
}


input {
    background-color: white ;
    border: 2px black solid;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;

}

::placeholder {
    color: black
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

button {

    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;


}


.container {
    display: flex;
   flex-direction: column;
        
}

.card1{
    display:flex;
    flex-direction: row;
}

.card2 {
    display:flex;
    flex-direction: column;

}

.card4 {
    display:flex;
    flex-direction: column;
    width: 50%;

}

.last-name {
    margin-left: 10px;
}
.container .form-container .card2 input {
    font-size: 16px; /* Cambiar el tamaño del texto */
    width: 250px; /* Cambiar el ancho del campo */
    padding: 5px; /* Agregar relleno alrededor del texto */

    border: 1px solid black; /* Cambiar el borde */
    background-color: white;
}



.form-container {
    flex: 1;
    margin-right: 20px; /* Espacio entre el formulario y la imagen */
    flex-direction: column;
    max-width: 50%;

    padding: 30px;
    width: 500px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    background-color: bisque;
}
  

.image-container {
    
    
    margin: 0px 3000px 200px 0px;
    height: auto;
    width: 500px;
    /* arriba derech, abajo, iz*/
    
    background-color: bisque;
   
    
   
   
    
}

.card3 {
    display:flex;
    flex-direction: column;
    

}
main {
    background-image: url(/images/registro/registro1.jpeg);
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center center; /* Posición centrada */
  }