/**{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: auto;
    background: #ffd850; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
nav ul{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 25px;
}
  
nav .search-box{
    margin: auto;
}
nav .search-box input{
    border: none;
    height: 30px;
    width: 500px;
    padding: 0 10px;
    font-size: 1em;
}
  
nav .search-box button{
    background-color: white;
    position: absolute;
    height: 30px;
    width: 40px;
    margin: auto;
    cursor: pointer;
    border: none;
}
  
.logo{
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a{
    display: flex;
}
.logo a img{
    border-radius: 5%;
}

  
.registro{
    padding-right: 30px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.New-user{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.buy{
    padding-right: 60px;
    padding-left: 30px;
    display: flex;
    width: auto;
    height: auto;
}

.color-nav{
    color: black;
}*/

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Vidaloka', serif;
}

nav{
    display: flex;
    height: auto;
    background: #ffd850; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 25px;
}

nav .search-box{
    margin: auto;
}
nav .search-box input{
    border: none;
    height: 30px;
    width: 500px;
    padding: 0 10px;
    font-size: 1em;
}

nav .search-box button{
    background-color: white;
    position: absolute;
    height: 30px;
    width: 40px;
    margin: auto;
    cursor: pointer;
    border: none;
}

.logo{
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a{
    display: flex;
}
.logo a img{
    border-radius: 5%;
}

.registro{
    padding-right: 30px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.New-user{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.buy{
    padding-right: 60px;
    padding-left: 30px;
    display: flex;
    width: auto;
    height: auto;
}

.color-nav{
    color: black;
}




/*estilo del main*/
.main-edit{
    background-image: url("/images/edit/esgrima.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}
.contitulo{
    display:flex;
    justify-content: center;

}
.titulo{
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    font-family: 'Vidaloka', serif;
}
.container-edit{
    margin: 0 10px;
    text-align: center;
}
/*estilo primer columna*/
.container-general{
    padding: 10px;
}
.general-img{
    width: 20vw;
}

/*estilo segunda columna*/
.container-especificaciones{
    padding: 10px;
}

/*estilo tercer columna*/
.container-caracteristicas{
    padding: 10px;
}

.label{
   margin: 10px 0;
   color: #fff;
   font-family: 'Vidaloka', serif;
}
.input-text{
    border-radius: 5px;
    border: none;
    background-color: burlywood;
    height: 20px;
}
.textarea{
    border-radius: 5px;
    border: none;
    background-color: burlywood;
}
/*partial footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffd850;
    color: black;
}
.container{
    width: 100%;
    margin: auto;
    display: grid;
    padding: 20px 0px;
    border-top: 5px solid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.qr{
    list-style: none;
    margin-left: 60px;
}
.texto{
    list-style: none;
    border-left: 5px solid;
}
.colaboracion{
    list-style: none;
    border-left: 5px solid;
}
.redes{
    border-left: 5px solid;
}
.contacto{
    margin-top: 40px;
    display: flex;
    font-size: 2em;
    list-style-type: none;
    border-top: 5px solid;
}

.contacto li{
    padding: 20px 20px;
    color: white;
}
.fa-brands{
    color: black;
}

@media (min-width:769px) {
    .container-edit{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



/*responsive*/
/* Estilos específicos para diferentes tamaños de pantalla */
@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
    header, nav, main, footer {
        padding: 10px;
    }
    
    /* Estilos generales para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Media Query para pantallas más pequeñas (ej. dispositivos móviles) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.qr img {
    width: 50%; /* La imagen ocupará el 100% del ancho del contenedor */
}

.texto, .colaboracion, .redes {
    width: 100%; /* Los elementos ocuparán el 100% del ancho del contenedor */
    margin-bottom: 15px;
}

.redes h2 {
    margin-top: 0; /* Elimina el margen superior de la sección de redes */
}

.contacto a i {
    font-size: 24px; /* Ajusta según tus necesidades */
    margin-right: 10px;
}


nav .search-box input{
    border: none;
    height: 30px;
    width: 90%;
    padding: 5px;
    font-size: 1em;
}
/* .logo{
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
} */
header {
    flex-direction: column; /* Cambia a una disposición de columna */
    align-items: center;
}
.logo {
    order: -1; /* Cambia el orden para que el logo aparezca primero */
    margin-bottom: 10px; /* Añade espacio entre el logo y la barra de búsqueda */
    
}



.logo, .search-bar {
    width: 50%; /* Ocupa todo el ancho disponible */
   text-align: center;
}
 
nav .search-box{
    margin: auto;
    padding: 5px;
}

nav .search-box button{
    background-color: white;
    position: absolute;
    height: 30px;
    width: 30px;
    margin: auto;
    cursor: pointer;
    border: none;
}

}

  
  
  