* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*HEADER*/


main{
    background-image: url(/images/registro/5769.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

/*form {
    padding: 30px;
    width: 500px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    background-color: black;

}*/

h2{
    color: yellow;
    padding-top: 20px;
    padding-left: 20px;
}

h3 {
    color: yellow;
    margin: 0px 0px 5px 0px;
    padding: 10px;
}


input {
    font-size: 16px;
    background-color: rgb(211, 201, 201, 0.4) ;
    border: 2px black solid;
    padding: 10px 0px 10px 7px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: yellow;
    

}

::placeholder {
    color:rgba(255, 255, 255, 0.74);
    font-weight: lighter;
    font-style: normal;
    text-align: left;
}

button {

    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;


}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1{
    display:flex;
    flex-direction: row;
    width: 120px;
}


.card2 {
    display:flex;
    flex-direction: column;

}

.card4 {
    display:flex;
    flex-direction: column;
    width: 50%;

}

.last-name {
    margin-left: 10px;
}
.container .form-container .card2 input {
    width: 415px; /* Cambiar el ancho del campo */   
}



.form-container {
    flex: 1;
    margin-right: 20px; /* Espacio entre el formulario y la imagen */
    flex-direction: column;
    max-width: 50%;
    padding: 30px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
}
  

.image-container {
    width: auto;
    /*margin: 0px 3000px 200px 0px;*/
    height: auto;
    /* arriba derech, abajo, iz*/
    display: flex;
    float: left; 
}

.card3 {
    display:flex;
    flex-direction: row;
}

.account{
    width: 90%;
    align-items: center;
}


footer{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fdffc2;
    font-weight:500
}
.footer-lista > a > li{
    line-height: 30px;

}
.footer-redes > i{
    margin: 10px 5px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}


/*FOOTER*/
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0F2027;
    color: white;
    justify-content: space-around;
    font-weight:500;
    /*padding: 2rem 0;*/
}

.container{
    width: 100%;
    margin: auto;
    display: grid;
    padding: 45px 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.texto{
    border-left: 1px solid;
}
.colaboracion{
    border-left: 1px solid;
}
.redes{
    border-left: 1px solid;
}
.contacto{
    margin-top: 40px;
    display: flex;
    font-size: 2em;
    list-style-type: none;
    border-top: 1px solid;
}

.contacto li{
    padding: 20px 20px;
    color: white;
}
.fa-brands{
    color: white;
}

.footer-lista > a > li{
    line-height: 30px;
}

.footer-redes > a > i{
    margin: 10px 5px;
}





@media (max-width: 361px){
    main{
        background-image: url(/images/registro/5769.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        width: 100%;
        height: 900px;
    }
    .container{
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 481px){
    
    .footer-lista{
        display: none;
    }
}