/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/munbaik-cycling-clothing-Ln9uvGy5Yio-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f2f2f2;
  color: #333;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

nav{
  display: flex;
  height: auto;
  background: #ffd850; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav ul{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 25px;
}

nav .search-box{
  margin: auto;
}
nav .search-box input{
  border: none;
  height: 30px;
  width: 500px;
  padding: 0 10px;
  font-size: 1em;
}

nav .search-box button{
  background-color: white;
  position: absolute;
  height: 30px;
  width: 40px;
  margin: auto;
  cursor: pointer;
  border: none;
}

.logo{
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a{
  display: flex;
}
.logo a img{
  border-radius: 5%;
}

.registro{
  padding-right: 30px;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
}

.New-user{
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
}

.buy{
  padding-right: 60px;
  padding-left: 30px;
  display: flex;
  width: auto;
  height: auto;
}

.color-nav{
  color: black;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.Option{
  margin-top: 20px;
  display: flex;
  background:white;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

main section ul button{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;
  font-size: 20px;
}

/* Formulario de inicio de sesión */

h1{

  text-align: center;
  color:#fff
}

.for {
  max-width: 300px;
  margin: 0 auto;
  padding: 70px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(202, 202, 202, 0.2);
 
  text-align: center;
}

.for label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color:#fff;
}

.for input[type="text"],
.for input[type="password"] {
  width: 200%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.for input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.for input[type="submit"]:hover {
  background-color: #0056b3;
}

.register {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 15px;
}
.botonLogin{
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: wheat;
  font-weight: bold;
  cursor: pointer;
}

/* Pie de página */
/*footer {
  display: flex;
  background-color: #0F2027;
  margin-top: auto; 
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.pie{
  width: 100%;
  margin: auto;
  display: grid;
  padding: 45px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.qr{
  list-style: none;
  margin-left: 20px;
}
.texto{
  list-style: none;
  border-left: 1px solid;
}
.colaboracion{
  list-style: none;
  border-left: 1px solid;
}
.redes{
  border-left: 1px solid;
}
.contacto{
  margin-top: 40px;
  display: flex;
  font-size: 2em;
  list-style-type: none;
  border-top: 1px solid;
}

.contacto li{
  padding: 20px 20px;
  color: white;
}
.fa-brands{
  color: white;
}*/

footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffd850;
  color: black;
}

.container{
  width: 100%;
  margin: auto;
  display: grid;
  padding: 20px 0px;
  border-top: 5px solid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.qr{
  list-style: none;
  margin-left: 60px;
}
.texto{
  list-style: none;
  border-left: 5px solid;
}
.colaboracion{
  list-style: none;
  border-left: 5px solid;
}
.redes{
  border-left: 5px solid;
}
.contacto{
  margin-top: 40px;
  display: flex;
  font-size: 2em;
  list-style-type: none;
  border-top: 5px solid;
}

.contacto li{
  padding: 20px 20px;
  color: white;
}
.fa-brands{
  color: black;
}

 /*estilo de la validacion del lado del front end */
 .is-invalid {
  box-shadow: 0 0 20px rgb(230, 64, 64)
} 
.is-valid {
  box-shadow: 0 0 5px rgb(117, 233, 34)
} 
/*no son necesarios*/
.alerta{
    opacity: 100;
    color: red;
    margin-left: -15px;
    margin-top: 9px;
}

.ok{
    margin-left: -29px;
    margin-top: 9px;
    color: green;
    opacity: 100;
}
/*fin estilo de las validaciones del front end*/