<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-carrito.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Sportify</title>
</head>



<body>
    <%- include ("./partials/header")%>
    <main>

      <h2> <%=título %></h2>
        <ul>
            
            <li> 
                
                <div class="caja"><div class="contenido">
                    <div class="zapatilla">
                    <img src="./images/carrito/zapatillas-new-balance.jpg" alt=""></div>
                    
                <h2 class="descripcion">ZAPATILLAS NEW BALANCE FLASH VS (WFLSHBW5) (38(US8))</h2>
                <p class="precio">Precio: $55.000</p>
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" min="1" value="1">
                <button id="agregarCarrito">AGREGAR</button>
                <button><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>

            </li>
            <li> 
                <div class="caja"><div class="contenido">
                    <div class="zapatilla">
                 <img src="./images/carrito/pelota-volley-striker.jpg" alt=""></div>
                 
                <h2 class="descripcion">PELOTA VOLLEY STRIKER v5 150 COS MAQ BLANCA (4040)(N°4)</h2>
                <p class="precio">Precio: $5000</p>
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" min="1" value="1">
                <button id="agregarCarrito">AGREGAR </button>
                <button><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>

            </li>
            <li>
                <div class="caja"><div class="contenido">
                    <div class="zapatilla">
                    <img src="./images/carrito/botines-futbol-kappa.jpg"  width="100px" alt=""></div>
                    
                <h2 class="descripcion">BOTINES FÚTBOL KAPPA VICTORY TG BLACK BLUE LT (1321K36W51B)(42)</h2>
                <p class="precio">Precio: $4850</p>
                <label for="cantidad">Cantidad</label>
                <input type="number" id="cantidad" min="1" value="1">
                <button id="agregarCarrito">AGREGAR</button>
                <button><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>

            </li>
            
        </ul>
            
                
    </main>
    <%- include ("./partials/footer") %>
</body>
</html>


 