<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sportify</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="./images/Home/header/todos_los_logos_de_los_juegos_olimpicos_16430_orig.jpg" width="100px" alt="logo">
            </div>
            <div class="search-box">
                <input type="search" placeholder="Buscar Articulo...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul>
                <li class="buy"><a class="color-nav" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="New-user"><a class="color-nav" href=""><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href=""><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
         
            
                
    </main>
    <footer>
        
    </footer>
</body>
</html>