<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-detalles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Detalles del Producto</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="./images/Home/header/todos_los_logos_de_los_juegos_olimpicos_16430_orig.jpg" width="100px" alt="logo">
            </div>
            <form class="search-box" action="" method="get">
                <input type="text" placeholder="Buscar Articulo...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul>
                <li class="buy"><a class="color-nav" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="New-user"><a class="color-nav" href="./formulario-de-registro"><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href=""><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="main-detalles">
        <section>
            <h1></h1>
            <article class="presentacion">
                <img class="img" src="/images/detalles/modelo-ej-sportify.jpg" alt="">
                <div class="ajustables-producto">
                    <h2>Adidas Campus</h2>
                    <p>Conoce los metodos de entrega <a href="#"><i class="fa-solid fa-truck-fast"></i></a></p>
                    <div class="disponibles-colores">
                        <p>Colores disponibles:</p>
                        <a href="#"><img src="/images/detalles/modelo-ej-sportify.jpg" alt=""></a>
                        <a href="#"><img src="/images/detalles/modelo-ej-sportify.jpg" alt=""></a>
                        <a href="#"><img src="/images/detalles/modelo-ej-sportify.jpg" alt=""></a>
                        
                    </div>
                    <div class="disponibles-talles">
                        <p>Talles:</p>
                        <input type="button" value="XX">
                        <input type="button" value="XX">
                        <input type="button" value="XX">
                        <input type="button" value="XX">
                    </div>
                </div>
            </article>
            <article class="descripcion">
                <h2>Descripcion del Producto</h2>
                <p class="descripcion-parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci quia eum et quaerat voluptate sapiente voluptatum quis dolorum impedit, vitae illum libero, consequuntur neque. Neque veritatis natus aliquid qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, recusandae temporibus ex corporis exercitationem magnam inventore suscipit deleniti enim, a voluptatum aliquid odio facere aut dolore? Voluptate dolore sit natus.</p>
                <img src="/images/detalles/modelo2-ej-sportify.jpg" alt="">
            </article>
        </section>
        <section class="similares">
            <h2 class="titulo-similares">Productos similares</h2>
            <div class="similares-carrusel">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">
                <img src="/images/detalles/modelo3-ej-sportify.jpg" alt="">

            </div>
        </section>
    </main>
    <footer class="footer">
        <div class= "container">
            <div class="qr">
                <a><li>Zapatillas</li></a>
                <a><li>Pantalones</li></a>
                <a><li>Remeras</li></a>
                <a><li>Buzos</li></a>
            </div>
            <div class="texto">
                <a><li>Seleccion Argetina</li></a>
                <a><li>Boca Juniors</li></a>
                <a><li>Inter Miami</li></a>
                <a><li>Real Madrid</li></a>
            </div>
            <div class="colaboracion">
                <a><li>Futbol</li></a>
                <a><li>Basquet</li></a>
                <a><li>Natacion</li></a>
                <a><li>Voley</li></a>
            </div>
            <div class="redes">
                <h1>Redes Sociales</h1>
                <div class="contacto">
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                </div>
            </div>
    </footer>
</body>
</html>