<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-registro.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Sportify</title>
</head>
<body>
    <%- include ("./partials/header")%>
    <main>
        <h2>NUEVA CUENTA</h2>
            <div class="container">
                <section class="card4">
                    <form action="/register" class="form-container" method="post">
                        <div class="card1">
                            <input type="text" name="fullname" id=""  placeholder="Nombre Completo" >
                        </div>
                        <div>
                            <input class="last-name" type="text" name="lastname" id="" placeholder="Apellido">
                        </div>
                        <div class="card2" >
                            <input type="email" name="email" id="" placeholder="Email">
                        </div>
                        <div class="card2">
                            <input type="password" name="password" id="" placeholder="Contraseña">
                        </div>
                        <div class="card2">
                            <input type="password" name="confir-password" id="" placeholder="Confirmar contraseña">
                        </div>
                        <div class="card2">
                            <input type="text" name="phone" id="" placeholder="Teléfono (opcional)">
                        </div>
                        <div class="buttons1">
                            <button type="submit">Crear Cuenta</button>
                       </div>   
                    </form>
                    
                    <section >
                        <div > 
                            <h3>¿Ya tiene una cuenta?</h3>
                            <a href="/"><button class="account" type="submit"> Volver</button></a>
                            <a href="/login"><button type="button">Iniciar sesión</button></a>
                   
                       </div>
                    </section>
                </section>
  
            </div> 

       
    </main>
 <%- include ("./partials/footer") %>
</body>
</html>