<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Sportify</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            <img src="./images/Home/header/todos_los_logos_de_los_juegos_olimpicos_16430_orig.jpg" width="100px" alt="logo">
            </div>
            <form class="search-box" action="" method="get">
                <input type="text" placeholder="Buscar Articulo...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul>
                <li class="buy"><a class="color-nav" href="./carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="New-user"><a class="color-nav" href="./formulario-de-registro"><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href="./login"><i class="fa-solid fa-user"></i></a></li>
               
            </ul>
        </nav>
    </header>
    <main>
        <section class="Option">
            <ul class="contenedor">
                <lu><a class="category" href="#">Categoria</a></lu>
                <lu><a class="category" href="#">Oferta</a></lu>
                <lu><a class="category" href="#">Historial</a></lu>
                <lu><a class="category" href="#">Vender</a></lu>
                <lu><a class="category" href="#">Tendencia</a></lu>
                <lu><a class="category" href="#">Ayuda</a></lu>
            </ul>
        </section>
        <section class="banner">
            <img src="./images/Home/main/banner-equipamiento-deportivo_1284-32611.jpg" alt="logo">
        </section>
        <section class="destacado">
            <h1>Destacados</h1>
            <div class="articulos">
                <article class="destacado1">
                    <lu><a href="./detalles"><img src="./images/Home/main/zapatillas-nike--tanjun-mujer.jpg" width="250px" class="cuadro" alt="zapatilla"></a></lu>
                    <div class="detalle">
                        <p>Alta Zapatilla</p>
                        <p>$12000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</i></a></li>
                    </div>
                </article>
                <article class="destacado1">
                    <lu><a href="./detalles"><img src="./images/Home/main/al-rihla_w416.jpg" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Pelota del mundial</p>
                        <p>$25000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado1">
                    <lu><a href="./detalles"><img src="./images/Home/main/DD2124_010_A_PREM.jpg" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Campera re piola</p>
                        <p>$8000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado1">
                    <lu><a href="./detalles"><img src="./images/Home/main/235621_ti_reward_mm_usa_trade_nube1-fca0aedd6bbe4b564d16467418819607-640-0.png" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Raqueta</p>
                        <p>$3500</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
            </div>
        </section>
        <section class="productos">
            <h1>Sport</h1>
            <div class="stock">
                <article class="destacado2">
                    <lu><a href="./detalles"><img src="./images/Home/main/WhatsAppImage2023-02-06at10.42.54_4ccffd09-f555-4c5e-ae3b-c1a7731b581b.jpg" width="250px" height="254" class="cuadro"></a></lu>
                    <div class="detalle">
                        <p>Camiseta Argentina 2022</p>
                        <p>$12000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado2">
                    <lu><a href="./detalles"><img src="./images/Home/main/786236-800-auto.png" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Pelota de Basquet</p>
                        <p>$8000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado2">
                    <lu><a href="./detalles"><img src="./images/Home/main/D_NQ_NP_666219-MLA45094246389_032021-O.jpg" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Bate de Besiball</p>
                        <p>$3000</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado2">
                    <lu><a href="./detalles"><img src="./images/Home/main/raqueta-de-tenis-wilson-us-open-21-ni_o-86004r002031001-1.jpg" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Raqueda de Tenis</p>
                        <p>$4600</p>
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
                <article class="destacado2">
                    <lu><a href="./detalles"><img src="./images/Home/main/282625-800-800.jpg" width="250px" class="cuadro" alt=""></a></lu>
                    <div class="detalle">
                        <p>Zapatilla Nike</p>
                        <p>$11200</p> 
                        <li class="caja-compra"><a class="compra" href="./carrito">Comprar</a></li>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class= "container">
            <div class="qr">
                <a><li>Zapatillas</li></a>
                <a><li>Pantalones</li></a>
                <a><li>Remeras</li></a>
                <a><li>Buzos</li></a>
            </div>
            <div class="texto">
                <a><li>Seleccion Argetina</li></a>
                <a><li>Boca Juniors</li></a>
                <a><li>Inter Miami</li></a>
                <a><li>Real Madrid</li></a>
            </div>
            <div class="colaboracion">
                <a><li>Futbol</li></a>
                <a><li>Basquet</li></a>
                <a><li>Natacion</li></a>
                <a><li>Voley</li></a>
            </div>
            <div class="redes">
                <h1>Redes Sociales</h1>
                <div class="contacto">
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                </div>
            </div>
    </footer>
</body>
</html>