<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESIÓN SPORTIFY</title>
    <link rel="stylesheet" href="css/stylelogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ("./partials/header")%>
    <main>
        <h1>BIENVENID@ A SPORTIFY</h1>
        <section>
            <form class="for" action="/login" method="POST">
                
                <label><i class="fa-solid fa-bicycle"></i> Username:</label>
                <input type="text" id="username" name="username" placeholder="name" required><br>
                <label><i class="fa-solid fa-person-skiing-nordic"></i> Password:</label>
                <input type="password" id="password" name="password" placeholder="contraseña" required><br>
                <input type="submit" value="Login">
            </form>
            <div class="register">
                
                <p>No tienes una cuenta? <a href="./formulario-de-registro">Regístrate aquí</a></p>
            </div>
        </section>
    </main>
    <%- include ("./partials/footer")%>
</body>
</html>