<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SECCION SPORTIFY</title>
    <link rel="stylesheet" href="css/stylelogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    

    <header>
        <nav>
            <div class="logo">
                <img src="./img/todos_los_logos_de_los_juegos_olimpicos_16430_orig.jpg" width="100px" alt="logo">
                </div>
                <form class="search-box" action="" method="get">
                    <input type="text" placeholder="Buscar Articulo...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <ul>
                    <li class="buy"><a class="color-nav" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="New-user"><a class="color-nav" href=""><i class="fa-solid fa-user-plus"></i></a></li>
                    <li class="registro"><a class="color-nav" href="./formulario-de-registro"><i class="fa-solid fa-user"></i></a></li>
                </ul>
        </nav>
    </header> 
<body>


    <h1>BIENVENID@ A SPORTIFY</h1>
    
   
                <section>
                    <form class="for" action="/login" method="POST">

   <label i class="fa-solid fa-bicycle"></i> <for="username">Username:</label> 
        
       
<input type="text" id="username" name="username" required><br>
 <label i class="fa-solid fa-person-skiing-nordic"></i> <for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    
</form>
  <div class=register>
<p>No tienes una cuenta? <a href="/register">Register here</a></p>
 </div>  
</body>
</html>
</main>
<footer>
    <div class="container">
        <div class="qr">
            <img src="./img//ig-sportify.png" width="200px" alt="">
        </div>
        <div class="texto">
            <p>colab</p>
        </div>
        <div class="colaboracion">
            <p>hola</p>
        </div>
        <div class="redes">
            <h1>Redes Sociales</h1>
            <div class="contacto">
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
            </div>
        </div>
    </div>

</footer>
</body>
</html>