<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-registro.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Sportify</title>
</head>
<body>
    <%- include ("./partials/header")%>
    <main>
        <h2>NUEVA CUENTA</h2>
            <div class="container">
                <section class="card4">
                    <form action="/register/crear" class="form-container" id="form" method="post" enctype="multipart/form-data">
                        <div class="card1">
                            <input type="text" name="name" id="name"  placeholder="Nombre Completo" >
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1">
                            <input type="text" name="last_name" id="last_name" placeholder="Apellido">
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1" >
                            <input type="email" name="email" id="email" placeholder="Email">
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1">
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1">
                            <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirmar contraseña">
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1">
                            <input type="text" name="phone" id="phone" placeholder="Teléfono (opcional)">
                            <i class="fas fa-exclamation alert"></i>
                            <i class="fas fa-check okey"></i>
                        </div>
                        <div class="card1">
                            <input type="file" name="foto" id="id_foto"/>
                        </div>
                        <div class="buttons1">
                            <button type="submit">Crear Cuenta</button>
                       </div>   
                    </form>
                    
                    <section >
                        <div > 
                            <h3>¿Ya tiene una cuenta?</h3>
                            <a href="/"><button class="account" type="submit"> Volver</button></a>
                            <a href="/login"><button type="button">Iniciar sesión</button></a>
                   
                       </div>
                    </section>
                </section>
  
            </div> 

       
    </main>

 <%- include ("./partials/footer") %>
 <script src="/js/perfil-de-usuario.js"></script>
</body>
</html>