<footer>
    <div class= "container">
        <div class="qr">
            <a href=""><img src="./images/Home/footer/qrcode-generado.png" width="200px" alt=""></a>
        </div>
        <div class="texto">
            <a><li>     Marcas</li></a>
            <a><li>Zapatillas</li></a>
            <a><li>Indumentaria</li></a>
            <a><li>Accesorios</li></a>
        </div>
        <div class="colaboracion">
            <a><li>Guía de talles</li></a>
            <a><li>Cambios y devoluciones</li></a>
            <a><li>Talles grandes</li></a>
            <a><li>Nosotros</li></a>
        </div>
        <div class="redes">
            
            <h1>Redes Sociales</h1>
            <div class="contacto">
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
            </div>
        </div>
    </div>
</footer>