<header>
    <nav>
        <div class="logo">
            <a href="./"><img src="./images/Home/header/Logo-Sportify.jpg" width="150px" alt="logo"></a>
        </div>
        <form class="search-box" action="" method="get">
            <input type="text" placeholder="Buscar Articulo...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <!-- <ul>
            <li class="buy"><a class="color-nav" href="./carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul> -->
        <% if (locals.isLogged) { %>
            <p class="color-nav">Hola <%= locals.isLogged ? locals.userLogged.name : "Usuario" %></p>
        <% } else { %>
            <ul>
                <li class="buy"><a class="color-nav" href="./carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="New-user"><a class="color-nav" href="./register"><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href="./login"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        <% } %>
    </nav>
</header>