<header>
    <nav>
        <div class="logo">
            <a href="./"><img src="./images/Home/header/Logo-Sportify.jpg" width="150px" alt="logo"></a>
        </div>
        <form class="search-box" id="form">
            <input type="text" id="input-busqueda" placeholder="Buscar Articulo...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
       
 <ul>

        <ul class="list">
        </ul>
        <ul>
            <li class="buy"><a class="color-nav" href="./carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        <% if (locals.isLogged) { %>
            <a href="../perfil_usuario"><p class="color-nav"> Hola <%= locals.isLogged ? locals.userLogged.name : "Usuario" %></p></a>
        <% } else { %>
            <ul>
                <li class="New-user"><a class="color-nav" href="./register"><i class="fa-solid fa-user-plus"></i></a></li>
                <li class="registro"><a class="color-nav" href="./login"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        <% } %>
    </nav>
    <script src="/js/Buscador.js"></script>
</header>